{% extends "SiteBaseJumbo.html" %}

{% block big %} Welcome to ASG Internal {% endblock %}
{% block big_ex %} A set of internal tools to improve ASG efficiency
{% endblock %}


{% block head1 %} Cradle Points {% endblock %}
{% block head1_ex %}  View status of cradle points! {% endblock %}
{% block head1_but %}<p><a class="btn btn-secondary" href="/CradleView" role="button">Learn More! &raquo;</a></p>{% endblock %}

{% block head2 %} Time Cards {% endblock %}
{% block head2_ex %} Enter Time Card Information. {% endblock %}
{% block head2_but %}<p><a class="btn btn-secondary" href="#" role="button">Enter! &raquo;</a></p>{% endblock %}

